.header {
    display: flex;
    padding: 5rem;
    justify-content: space-between;

    &__logo {

        @include respond(phone) {
            margin-left: -3.5rem;
            padding: 0;
        }
    }

    @include respond(phone) {
        padding: 1rem 0rem;
        justify-content: space-around;
        align-items: center;
    }
}

.logo__fylo {

    @include respond(phone) {
        transform: scale(.4);
       
    }

}

.nav {
    
    &__list {
        list-style: none;
        display: flex;
    }

    &__item {

        &:not(:last-child){
            margin-right: 5rem;

            @include respond(phone) {
                margin-right: 2.5rem;
            }
        }
        
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &::after {
        content: "";
        position: absolute;
        top: 125rem;
        left: 0;
        background-color: $dark-blue-2;
        height: 300%;
        width: 100vw;
        z-index: -20;

        @include respond(phone) {
            top: 47.5rem;
            left: 0;
            height: 500%;
        }
    }
}

.cta-top {
    flex: 0 0 50%;
    position: relative;
 
    @include respond(phone) {
        flex: 0 0 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__illustration-box{
        display: flex;
        justify-content: center;

        @include respond(phone) {
            margin-top: 2rem;
        }
    }

    &__illustration{
        max-width: 100%;

        @include respond(phone) {
            max-width: 80%;

        }

    }

    &__text-box {

        @include respond(phone) {
            max-width: 90%;
        }
    }

    &__btn {
        margin-top: 7rem;
        text-align: center;

        @include respond(phone) {
            margin-top: 4rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 73%;
        left: -50%;
        background-image: url(/images/bg-curvy-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 44.9rem;
        width: 100vw;
        z-index: -10;

        @include respond(phone) {
            background-image: url(/images/bg-curvy-mobile.svg);
            left: -5%;
            top: 50%;
        }
    }
}

.features {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    position: relative;

    @include respond(phone) {
        width: 100%;
        justify-content: center;
    }

    &__box {
        flex: 0 0 50%;
        padding: 5rem 4rem;

        @include respond(phone) {
            flex-basis: 90%;
        }
    }

    &__icon {
        height: 8.8rem;
    }

}

.special-features {
    display: flex;
    width: 90%;
    align-items: center;

    @include respond(phone) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__illustration-box {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;

        @include respond(phone) {
            flex-basis: 90%;
        }
    }

    &__illustration {
        max-width: 100%;
        padding: 3rem;

        @include respond(phone) {
            padding: 0;
        }
    }

    &__text-box {
        flex: 0 0 50%;
        padding: 3rem;

        @include respond(phone) {
            flex-basis: 95%;
            padding: 1rem;
        }
        
    }

    &__link-box {
        display: inline-block;
        margin-top: 5rem;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid $cyan;
    }

    &__link {
        color: $cyan;
    }

    &__link-icon {
        margin-left: 1rem;
    }
}

.testimonial {
    display: flex;
    width: 90%;
    margin-top: 10rem;
    position: relative;

    @include respond(phone) {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__box {
        background-color: $dark-blue-4;
        padding: 3rem 2rem;
        display: flex;
        flex-wrap: wrap;
        border-radius: .5rem;
        justify-content: space-between;
        box-shadow: 0 .2rem 2rem rgba($color: #000000, $alpha: .25);

        &:not(:last-child){
            margin-right: 3rem;

            @include respond(phone) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        @include respond(phone) {
            max-width: 80%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: -3.2rem;
        left: -1rem;
        width: 20rem;
        height: 10rem;
        background-image: url(/images/bg-quotes.png);
        background-repeat: no-repeat;
        z-index: -10;

        @include respond(phone) {
            top: -5rem;
            left: -1rem;
            transform: scale(.4);
        }
    }

}

.author {

    &__box {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    &__info {
        display: flex;
        flex-direction: column;    }

    &__picture {
        width: 3rem;
        height: auto;
        border-radius: 50%;
        margin-right: 2rem;
    }

    &__title {
        font-size: 1rem;
    }
}

// CTA BOTTOM

.cta-bottom {

    &__card {
        background-color: $dark-blue-1;
        max-width: 60%;
        padding: 3.5rem 5rem;
        display: flex;
        flex-wrap: wrap;
        border-radius: .5rem;
        justify-content: center;
        box-shadow: 0 .2rem 3rem rgba($color: #000000, $alpha: .6);
        margin-top: 20rem;
        text-align: center;

        @include respond(phone) {
            max-width: 90%;
            padding: 2rem 1rem;
            margin-top: 10rem;
        }
    }

    &__form {
        display: flex;
        margin-top: 3rem;
        flex: 1 0 100%;
        
        @include respond(phone) {
            flex-direction: column;
        }
        
    }
}

.form {


    &__input {
        padding: 1rem 1rem 1rem 3rem;
        margin-right: 2rem;
        max-width: 60%;
        border: none;
        border-radius: 5rem;
        flex: 2;

        &::-moz-placeholder {
            margin-left: 1rem;
            font-size: inherit;
            font-weight: 100;
            color: var(--color-grey-dark-2);
        }

        @include respond(phone) {
            max-width: 100%;
            padding: 1.5rem;
            margin-right: 0;
        }
    }

    &__input-label {
        display: none;
    }

    &__btn {
        flex: 1;
        background-image: linear-gradient(to bottom right, $cyan, $blue);
        padding: 1rem 0;
        border: none;
        font-family: inherit;
        color: $white;
        font-weight: 700;
        border-radius: 10rem;
        font-size: 1.4rem;

        @include respond(phone) {
           margin-top: 2.3rem;
        }
    }
}

// FOOTER

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $dark-blue-3;
    margin-top: -10%;
    padding: 18rem 8rem 5rem 8rem;


    &__logo {
        margin: 3rem 0;

        @include respond(phone) {
            transform: scale(.8);
            margin-left: -2rem;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        @include respond(phone) {
            flex-wrap: wrap;
        }
    }

    @include respond(phone) {
        margin-top: -15rem;
        padding: 15rem 4rem 5rem;
    }
    
}

.nav {

    &__address {
        flex: 0 0 30%;
        display: flex;
         
        @include respond(phone) {
            flex: 0 0 100%;
            margin-bottom: 3rem;
        }
    }

    &__icon {
        margin-right: 2rem;
    }

    &__list--1 {
        flex: 0 0 20%;
        margin-left: 3rem;
        list-style: none;

        @include respond(phone) {
            flex: 0 0 100%;
            margin-left: 0;
            margin-bottom: 3rem;
        }
    }


    &__list--2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 15%;
        list-style: none;
        margin-left: 3rem;

        @include respond(phone) {
            flex: 0 0 100%;
            margin-left: 0;
            margin-bottom: 3rem;
        }
    }

    &__list--3 {
        display: flex;
        flex-basis: 15%;
        list-style: none;

        @include respond(phone) {
            flex: 0 0 100%;
            margin-left: 0;
            justify-content: center;
        }
    }



    &__item--footer {
        margin-bottom: 1rem;
    }
}